:root {
    --accent-color: #2196F3; 
    --primary-text-color:#212121;
    --second-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --second-background-color: #F5F4FA;
    --footer-background-color: #2F303A; 
    --second-logo-color:  #188CE8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::before, 
::after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  

/*logo*/
.logo-blue {

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    list-style: none;
    text-decoration: none;
}
.logo-black {
    color: var(--primary-text-color);
}
.logo-white {
    color: var(--primary-white-color);
}

/*-------------Modal--------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 581px;
    width: 528px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    
}

.close {
   position: absolute; 
   top: 8px;
   right: 8px;
   color: var(--primary-white-color);
   background-color: transparent;
}

/*header*/

.header {
  border-bottom: 1px solid #ECECEC;
  

}
.main-nav{
    display: flex;
    align-items: center;
   
}

.nav {
    display: flex;
    align-items: center;
   
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
}


.header-link:hover
.header-link:focus {
    color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}

.header-link:hover::after,
.header-link:focus::after {
content: "";
display: block;
width: 100%;
height: 4px;
background-color: currentColor;
border-radius: 2px;

position: absolute;
bottom: -1px;
left: 0;
}

.contacts-header, .nav-contacts, .contacts-email {
    display: flex;
    color:var(--second-text-color);
    fill: currentColor;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.contacts-header {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
   
}

.icon {

    margin-right: 10px;
}

.contacts-header:hover,
.contacts-header:focus {
    fill:var(--accent-color);
    transition: 250ms var(--timing-function);
}

.contacts-header:hover .icon,
.contacts-header:focus .icon {
    fill: var(--accent-color);
}

.contacts-email {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
}


.contacts-email:hover,
.contacts-email:focus {
    color:var(--accent-color);
    transition: 250ms var(--timing-function);
}

.contacts-email:hover .icon,
.contacts-email:focus .icon {
 color: var(--accent-color);
}



.nav-contacts .item + .item {
    margin-left: 50px;
   
}

.nav-contacts {
    margin-left: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 92px;
   
}

.nav-list .item + .item {
    margin-left: 50px;
}


.nav-list:hover, .nav-list:focus {
    color: var(--accent-color);
    list-style: none;
    text-decoration: none;
}




/* ------footer---------- */

.footer {
    height: 252px;
    left: 0px;
    top: 2097px;
    background: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}


.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-adress {
    width: 231px;
    padding-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--primary-white-color);
    width: 231px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 0px;
    
}

.footer-contacts {
    padding-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;  
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-soc-list{
    margin-left: 70px;
    align-items: baseline;
   justify-content: center;
   align-items: center;
}

.footer-soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
   display: flex;
   margin-bottom: 20px;
   padding-right: 0;
   width: 206px;
  
   
}



.footer-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.1);
   
}

.footer-soc-icon {
    fill: var(--primary-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
 
}

.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
    fill: var(--primary-white-color); 
}

.footer-continer {
   display: flex;
   align-items: baseline;
}

/* ---------hover and focus-----------*/

.footer-contacts:hover, .footer-contacts:focus, .footer-adress:hover, .footer-adress:focus, .contacts-header:hover, .contacts-header:focus, .header-link:hover, .header-link:focus{
    color:var(--accent-color);
}

/*--------------------main page----------------------*/
.hero {
    background-color: var(--second-text-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.overlay {
    
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 600px;
    margin: auto;
  
}  


.hero-design {
    justify-content: center;
    padding: 200px;
    padding-bottom: 200px;
    padding-right: 252px;
    padding-left: 252px;
    
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero-button {
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    background-color:var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    border: 0;
    padding: 10px 32px;
  
   
 
}

.hero-button:hover, .hero-button:focus {
    background-color: var(--second-logo-color);
    color: var(--primary-white-color);
    opacity: 0;
    transition: opacity  250ms var(--timing-function);
}



/*------Special-------*/

.special-item {
    display: flex;
}

.special-item .item + .item {
    margin-left: 30px;
}

.special-list  {
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid green;
}

.special-title{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.special-text {
    font-family: inherit;
    line-height: 1.71;
    color: var(--second-text-color); 
    width: 270px;
}


.spec-list {
    display: flex;
    justify-content: center;
    gap: 30px;
   
}

.spec-link {
    width: 270px;
    height: 120px;
    background-color: var(--second-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.item-thumb {
    position: relative;
}

.thumb {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
}

.item-spec-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-top: 27px;
    margin-bottom: 27px;
}



/*----specialization--------*/
.specialization{
    padding-bottom: 94px;  
    outline: 2px solid green;
}

.specialization-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.specialization-item {
    display: flex;
}

.specialization-item .item + .item {
    margin-left: 30px;
}



/*----team-------*/

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--second-background-color);
    outline: 2px solid green;
}

.team-list {
    display: flex;
}

.team-list .team-blocks + .team-blocks {
    margin-left: 30px;
}

.team-blocks {
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;     
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.team-name {
   margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-position {
   
    font-family: inherit;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--second-text-color);
    margin-bottom: 16px;
}

.team-discr {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
   
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team-soc-icon {
    fill: #AFB1B8;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    transition: 250ms var(--timing-function);
 
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon{
    fill: var(--primary-white-color); 
}


/*-------------------Clients----------------------*/
.clients-logo {
    padding-top: 94px;
    padding-bottom: 94px;  
    outline: 2px solid green;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.clients {
    display: flex;
    justify-content: center;
    gap: 30px;
   
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.clients-icon {
    fill: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
 
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);
}

/*-------------------portfolio--------------------*/
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 2px solid green;
}

.portfolio-filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-filter .item + .item {
    margin-left: 8px;
}

.portfolio-filter:last-of-type {
margin-right: 0;
}

.button-filter {
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color:var(--second-background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    padding: 6px 22px;
    display: inline-block;
    
}

.button-filter:hover, .button-filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
 
}
.portfolio-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color:var(--second-text-color);
    text-decoration: none;
}

.portfolio-list .item {
    border-top: 0;
}

 
.portfolio-card {   
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
 }
 
.card-image {
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
}

.prof-top-wrap {
    position: relative;
    overflow: hidden;
}


.port-disc {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);  

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    
}

.item-potf:hover .port-disc,
.item-potf:focus .port-disc {
    transform: translateY(0); 
}

.item-potf{
    display: block;
}



